<% if @tool.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@tool.errors.count, "error") %>
      prohibited this tool from being saved:
    </h2>
    <ul>
    <% @tool.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @tool do |f| %>
<fieldset>
  <legend>Tool:</legend>
  <div class="field<%= ' field_with_errors' if @tool.errors[:name].any? %>">
    <%= f.label "Name:" %>
    <%= f.text_field :name %>
  </div>
</fieldset>

<fieldset>
  <legend>Project:</legend>
  <div>
    <%= f.label "Select a Project:" %>
    <%= f.collection_select :project_id, current_user.projects, :id, :name %>
  </div>

<% if @project %>
  <br>
  <p>Or Create a Project:</p>
  <%= f.fields_for :project do |p| %>
    <%= p.hidden_field :user_id, value: current_user.id %>
    <div>
      <%= p.label "Name:" %>
      <%= p.text_field :name %>
    </div>

    <div>
      <%= p.label "Status:"%>
      <%= p.select :status, status_choices %>
    </div>

    <div>
      <%= p.label "Pattern:" %>
      <%= p.text_field :pattern_info %>
    </div>
  <% end %>
<% end %>
</fieldset>

  <%= f.submit %>
<% end %>
