<% if @project.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@project.errors.count, "error") %>
      prohibited this project from being saved:
    </h2>
    <ul>
    <% @project.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @project do |f| %>
<fieldset>
  <legend>Project:</legend>
  <div class="field<%= ' field_with_errors' if @project.errors[:name].any? %>">
    <%= f.label "Name:" %>
    <%= f.text_field :name %><br>
  </div>

  <div class="field<%= ' field_with_errors' if @project.errors[:status].any? %>">
    <%= f.select :status, status_choices, :prompt => 'Select Status' %>
  </div>

  <div>
    <%= f.label "Pattern:" %>
    <%= f.text_field :pattern_info %>
  </div>


  <div>
    <%= f.fields_for :notes do |n| %>
    <div>
      <% if @project.notes.first.note && n.object.note %>
          <p><em><%= n.object.created_at.localtime.strftime("%m/%d/%Y, %l:%M %p") unless !n.object.created_at %></em></p>
          <p><%= n.object.note unless !n.object.created_at %></p>
      <% else  %>
    </div>


      <div class="field<%= ' field_with_errors' if n.object.errors[:note].any? %>">
        <%= n.label "Note:" %><br>
        <%= n.text_area :note %>
      </div>
      <% end %>
    <% end %>
  </div>
</fieldset>

<fieldset>
  <legend>Select Yarn:</legend>
  <div class="checkbox_container">
    <%= f.collection_check_boxes(:yarn_ids, current_user.yarns_sorted_by_brand, :id, :brand_yarn_with_project) %>
  </div>
</fieldset>

<fieldset class="check_box">
  <legend>Select Tools:</legend>
  <div class="checkbox_container">
    <%= f.collection_check_boxes(:tool_ids, current_user.tools, :id, :tool_with_project) %>
  </div>
</fieldset>

  <%= f.submit %>
<% end %>
