<div class="inside">
  <h1><%= @project.name %></h1>
  
  <% if @project.name != "Stash" %>
    <div class="project-details">
      <p>Status: <%= @project.status %></p>
      <p>Pattern: <%= @project.pattern_info %></p>
    </div>
  <% end %>

  <% if !@project.notes.empty? %>
  <div class="project-notes">
    <h2>Notes:</h2>
    <div>
      <% @project.notes.each do |note| %>
        <div class="each-note">
          <p><em><%= note.created_at.localtime.strftime("%m/%d/%Y, %l:%M %p") %></em></p>
          <p><%= note.note %></p>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>

  <% if !@project.yarns.empty? %>
  <div class="project-yarns">
    <% if @project.name != "Stash" %>
      <h2>Project Yarn:</h2>
    <% else %>
      <h2>Stashed Yarn:</h2>
    <% end %>
    <ul class="project-yarn-list">
      <% @project.yarns_by_brand.each do |yarn| %>
        <li class="each-project-yarn"><%= brand_yarn_links yarn %> <%= yarn_amount yarn %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <% if !@project.tools.empty? %>
  <div class="project-tools">
    <% if @project.name != "Stash" %>
      <h2><%= link_to "Project Tools:", project_tools_path(@project) %></h2>
    <% else %>
      <h2><%= link_to "Stashed Tools:", project_tools_path(@project) %></h2>
    <% end %>
    <ul class="project-tool-list">
      <% @project.tools.each do |tool| %>
        <li class="each-project-tool"><%= link_to tool.name, edit_tool_path(tool) %></li>
      <% end %>
    </ul>
    <%= link_to "Add a tool to this project", new_project_tool_path(@project) %>
  </div>
  <% end %>

    <%= button_to "Edit Project", edit_project_path(@project), method: :get %>
  <% if @project != current_user.stash %>
    <%= button_to "Delete Project", { action: "destroy", id: @project.id }, method: :delete, data: { confirm: "This will move all associated yarn and tools to your Stash. Are you sure you'd like to frog this project?" } %>
  <% end %>
</div>
