<% if @brand.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@brand.errors.count, "error") %>
      prohibited this brand from being saved:
    </h2>
    <ul>
    <% @brand.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @brand do |f| %>
<fieldset>
  <legend>Brand:</legend>
  <div class="field<%= ' field_with_errors' if @brand.errors[:name].any? %>">
    <%= f.label "Name:" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label "Select Material:" %>
    <%= f.select :material, material_choices %>
  </div>

  <div>
    <%= f.label "Select Gauge:" %>
    <%= f.select :weight, weight_choices, :selected => '4 - Medium' %>
  </div>

  <div>
    <%= f.label "Skein weight (oz):" %>
    <%= f.number_field :skein_weight %>
  </div>

  <div>
    <%= f.label "Skein length (yd):" %>
    <%= f.number_field :skein_length %>
  </div>

  <div>
    <%= f.label "Recommended crochet hook:" %>
    <%= f.text_field :hook %>
  </div>

  <div>
    <%= f.label "Recommended knitting needle:" %>
    <%= f.text_field :needle %>
  </div>
</fieldset>
<br><br>
  <%= f.fields_for :yarns do |y| %>
  <fieldset>
    <legend>Yarn:</legend>
    <div class="field<%= ' field_with_errors' if y.object.errors[:color].any? %>">
      <%= y.label "Color:" %>
      <%= y.text_field :color %><br>
    </div>

    <div>
      <%= y.label "Full skeins:" %>
      <%= y.number_field :count %><br>
    </div>

    <div>
      <%= y.label "Scrap (oz):" %>
      <%= y.text_field :scrap %><br>
    </div>

    <div>
      <%= y.label "Select Brand:" %>
      <%= y.collection_select :brand_id, current_user.brands, :id, :name, {:prompt => "New Brand"} %><br>
    </div>

    <div>
      <%= y.label "Select Project:" %>
      <%= y.collection_select :project_id, current_user.projects, :id, :name %><br>
    </div>
  </fieldset>
  <% end %>

  <%= f.submit %>
<% end %>
