<div class="inside">
  <h1><%= @brand.name %></h1>

  <div class="brand-details">
    <p><b>Material:</b>  <%= @brand.material %></p>
    <p><b>Gauge:</b>  <%= @brand.weight %></p>
    <p><b>Skein size:</b>  <%= @brand.skein_weight %>oz., <%= @brand.skein_length %>yd.</p>
    <p><b>Recommended Hook / Needle:</b>  <%= @brand.hook %>, <%= @brand.needle %></p>
  </div>

  <div class="brand-yarns">
    <h2>Colors of this yarn in your stash:</h2>
    <ul>
      <% @brand.yarns_by_color.each do |yarn| %>
        <li class="each-brand-yarn"><%= link_to yarn.color, edit_yarn_path(yarn) %> <span class="yarn-details"><%= yarn_amount yarn %> <%= list_project yarn %></span></li>
      <% end %>
    </ul>
  </div>

  <%# if current_user.brands.include?(@brand) %>
    <%= button_to "Edit Brand", edit_brand_path(@brand), method: :get %>
    <%= button_to "Delete Brand", { action: "destroy", id: @brand.id }, method: :delete, data: { confirm: "This will delete all associated yarn. Are you sure?" } %>
  <%# end %>
<div>
