<% if @brand.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@brand.errors.count, "error") %>
      prohibited this project from being saved:
    </h2>
    <ul>
    <% @brand.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @brand do |f| %>
<fieldset>
  <legend>Brand:</legend>
  <%= f.label "Name:" %>
  <%= f.text_field :name %><br>

  <%= f.label "Select Material:" %>
  <%= f.select :material, material_choices %><br>

  <%= f.label "Select Gauge:" %>
  <%= f.select :weight, weight_choices, :selected => '4 - Medium' %><br>

  <%= f.label "Skein weight (oz):" %>
  <%= f.number_field :skein_weight %><br>

  <%= f.label "Skein length (yd):" %>
  <%= f.number_field :skein_length %><br>

  <%= f.label "Recommended crochet hook:" %>
  <%= f.text_field :hook %><br>

  <%= f.label "Recommended knitting needle:" %>
  <%= f.text_field :needle %><br>
</fieldset>

  <%= f.fields_for :yarns do |y| %>
  <fieldset>
    <legend>Yarn:</legend>
    <%= y.label "Color:" %>
    <%= y.text_field :color %><br>

    <%= y.label "Full skeins:" %>
    <%= y.number_field :count %><br>

    <%= y.label "Scrap (oz):" %>
    <%= y.text_field :scrap %><br>

    <%= y.label "Select Brand:" %>
    <%= y.collection_select :brand_id, current_user.brands, :id, :name, {:prompt => "New Brand"} %><br>

    <%= y.label "Select Project:" %>
    <%= y.collection_select :project_id, current_user.projects, :id, :name %><br>
  </fieldset>
  <% end %>

  <%= f.submit %>
<% end %>
