<% if @yarn.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@yarn.errors.count, "error") %>
      prohibited this tool from being saved:
    </h2>
    <ul>
    <% @yarn.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @yarn do |f| %>
<fieldset>
  <legend>Yarn:</legend>
  <div class="field<%= ' field_with_errors' if @yarn.errors[:color].any? %>">
    <%= f.label "Color:" %>
    <%= f.text_field :color %>
  </div>

  <div>
    <%= f.label "Full skeins:" %>
    <%= f.number_field :count %>
  </div>

  <div>
    <%= f.label "Scrap (oz):" %>
    <%= f.text_field :scrap %>
  </div>

  <div class="field<%= ' field_with_errors' if @yarn.errors[:brand].any? %>">
    <%= f.label "Select Brand:" %>
    <%= f.collection_select :brand_id, current_user.brands, :id, :name, {:prompt => "New Brand"} %>
  </div>

  <div class="field<%= ' field_with_errors' if @yarn.errors[:project].any? %>">
    <%= f.label "Select Project:" %>
    <%= f.collection_select :project_id, current_user.projects, :id, :name, {:prompt => "New Project"} %>
  </div>
</fieldset>

<% if @brand %>
<fieldset>
  <legend>Create a Brand:</legend>
    <%= f.fields_for :brand do |b| %>
    <div>
      <%= b.label "Name:" %>
      <%= b.text_field :name %>
    </div>

    <div>
      <%= b.label "Select Material:" %>
      <%= b.select :material, material_choices %>
    </div>

    <div>
      <%= b.label "Select Gauge:" %>
      <%= b.select :weight, weight_choices, :selected => '4 - Medium' %>
    </div>

    <div>
      <%= b.label "Skein weight (oz):" %>
      <%= b.number_field :skein_weight, :class => 'text_field', :step => 0.1 %>
    </div>

    <div>
      <%= b.label "Skein length (yd):" %>
      <%= b.number_field :skein_length, :class => 'text_field', :step => 0.1 %>
    </div>

    <div>
      <%= b.label "Recommended crochet hook:" %>
      <%= b.text_field :hook %>
    </div>

    <div>
      <%= b.label "Recommended knitting needle:" %>
      <%= b.text_field :needle %>
    </div>
    <% end %>
</fieldset>
<% end %>

<% if @project %>
<fieldset>
  <legend>Create a Project::</legend>
    <%= f.fields_for :project do |p| %>
      <%= p.hidden_field :user_id, value: current_user.id %>

    <div>
      <%= p.label "Name:" %>
      <%= p.text_field :name %>
    </div>

    <div>
      <%= p.label "Status:"%>
      <%= p.select :status, status_choices %>
    </div>

    <div>
      <%= p.label "Pattern:" %>
      <%= p.text_field :pattern_info %>
    </div>
    <% end %>
  <% end %>
</fieldset>

  <%= f.submit %>
<% end %>
