<% if current_user.name.end_with?("s") %>
  <h1><%= current_user.name %>' Stash Organizer</h1>
<% else %>
  <h1><%= current_user.name %>'s Stash Organizer</h1>
<% end %>

<div class="">
  <%= render "projects/all" %>
</div>

<div class="">
  <%= render partial: "tools/all", locals: {tools: current_user.tools} %>
</div>

<div class="">
  <%= render "yarns/all" %>
</div>
