<div class="inside">
  <% if current_user.name.end_with?("s") %>
    <h1><%= current_user.name %>' Stash Organizer</h1>
  <% else %>
    <h1><%= current_user.name %>'s Stash Organizer</h1>
  <% end %>
</div>

<div class="main-box-1">
  <%= render "projects/all" %>
</div>

<div class="main-box-2">
  <%= render partial: "tools/all", locals: {tools: current_user.tools} %>
</div>

<div class="main-box-3">
  <%= render "yarns/all" %>
</div>
