<!DOCTYPE html>
<html>
  <head>
    <title>YarnStashOrganizer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul class="nav-bar">
      <% if user_signed_in? %>
        <li class="nav active"><%= link_to "Home", root_path %></li>
        <li class="nav active"><%= link_to "Projects", projects_path %></li>
        <li class="nav active"><%= link_to "New Project", new_project_path %></li>
        <li class="nav active"><%= link_to "Yarn", yarns_path %></li>
        <li class="nav active"><%= link_to "New Yarn", new_yarn_path %></li>
        <li class="nav active"><%= link_to "Tools", tools_path %></li>
        <li class="nav active"><%= link_to "New Tool", new_tool_path %></li>
        <li class="nav active"><%= link_to "Account", edit_user_registration_path %></li>
        <li class="nav active"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>

      <% else %>
        <li class="nav active"><%= link_to "Sign In", new_user_session_path %></li>
        <li class="nav active"><%= link_to "Join", new_user_registration_path %></li>
      <% end %>
      </ul>
    </nav>

    <div class="container">
    <% flash.keys.each do |type| %>
      <div data-alert class="flash <%= type %> alert-box radius">
        <%= flash[type] %>
      </div>
    <% end %>

      <%= yield %>

    </div>
  </body>
</html>
