<!DOCTYPE html>
<html>
  <head>
    <title>YarnStashOrganizer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul class="nav-bar">
      <% if user_signed_in? %>
        <a href="/"><li class="nav active">Home</li></a>
        <a href="/projects"><li class="nav active js-projects">Projects</li></a>
        <a href="/projects/new"><li class="nav active js-add-project">New Project</li></a>
        <a href="/yarns"><li class="nav active js-yarns">Yarn</li></a>
        <a href="/yarns/new"><li class="nav active js-add-yarn">New Yarn</li></a>
        <a href="/brands/new"><li class="nav active js-add-yarns">New Yarns</li></a>
        <a href="/tools"><li class="nav active js-tools">Tools</li></a>
        <a href="/tools/new"><li class="nav active js-add-tool">New Tool</li></a>
        <li class="nav-right active"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <li class="nav-right active"><%= link_to "Account", edit_user_registration_path %></li>

      <% else %>
        <li class="nav active"><%= link_to "Sign In", new_user_session_path %></li>
        <li class="nav active"><%= link_to "Join", new_user_registration_path %></li>
      <% end %>
      </ul>
    </nav>

    <div class="container">
      <div class="content-container">
      <% flash.keys.each do |type| %>
        <div data-alert class="flash <%= type %> alert-box radius">
          <%= flash[type] %>
        </div>
      <% end %>
        <div id="main-body">

        <%= yield %>

        </div>
      </div>
    </div>

  </body>
</html>
